<%@ Template Language="C#" TargetLanguage="C#" Src="../../../CommonCode.cs" Inherits="CodeSmithTemplate.CommonCode" Encoding="utf-8" %>
<%@ Register Template="../Helper/AssemblyFileProperty.cst" Name="AssemblyFileProperty" MergeProperties="True" %>  
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Linq" %>
<%@ Assembly Src="../../../ClassNames.cs" %>
<%@ Assembly Src="../blqw.CSComment/CSComment.cs" %>
<%@ Import Namespace="blqw.Reflection" %>
<%@ Assembly Src="../AssemblyFileHelper.cs" %>
<%@ Import Namespace="CodeSmithTemplate" %>
<%@ Import Namespace="CodeSmithTemplate.AspNet.AssemblyFile" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%
var names = GetAssemblyFileNames(DllFolder, ProjectName, EntityName, PermissionModuleName);
var assType = GetAssemblyType(names.CoreDllFile, EntityName);
var pktype = GetPropertyType(assType, names.PkName);
%>
using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using Abp.Application.Services;
using Abp.Application.Services.Dto;
using <%=assType.Namespace %>.Dto;

namespace <%=assType.Namespace %>
{
    /// <summary>
    /// <%=AssemblyFileHelper.GetClassSummary(assType) %>  服务契约
    /// </summary>
    [RemoteService(IsEnabled = false)]
    public partial interface I<%=names.AppServiceName %> : IApplicationService
    {
        /// <summary>
        /// 获取分页列表
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        Task<PagedResultDto<<%=names.QueryDtoName %>>> GetAll(<%=names.GetAllInputName %> input);

        /// <summary>
        /// 获取详细
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        Task<<%=names.QueryDtoName %>> Get(EntityDto<<%=pktype %>> input);
        
        /// <summary>
        /// 删除
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        Task Delete(EntityDto<<%=pktype %>> input);
    }
}
