<%@ Template Language="C#" TargetLanguage="C#" Src="../../../CommonCode.cs" Inherits="CodeSmithTemplate.CommonCode" Encoding="utf-8" %>
<%@ Register Template="../Helper/AssemblyFileProperty.cst" Name="AssemblyFileProperty" MergeProperties="True" %>  
<%@ Register Template="../Helper/GenerateConfigProperty.cst" Name="GenerateConfigProperty" MergeProperties="True" %> 
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Linq" %>
<%@ Assembly Src="../../../ClassNames.cs" %>
<%@ Assembly Src="../blqw.CSComment/CSComment.cs" %>
<%@ Import Namespace="blqw.Reflection" %>
<%@ Assembly Src="../AssemblyFileHelper.cs" %>
<%@ Import Namespace="CodeSmithTemplate" %>
<%@ Import Namespace="CodeSmithTemplate.AspNet.AssemblyFile" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%
var names = GetAssemblyFileNames(DllFolder, ProjectName, EntityName, PermissionModuleName, VueSpaWebPageName);
var assType = GetAssemblyType(names.CoreDllFile, EntityName);

%>


//放到 Web目录  \App_Start\Navigation 目录，PageNames.cs 

public const string <%=EntityName %> = "<%=PermissionModuleName %>.<%=EntityName %>";



//放到 Core目录  \Authorization\Builders\Permissions 目录  xxx.json

{
"name": "<%=EntityName %>Management",
"displayName": "<%=AssemblyFileHelper.GetClassSummary(assType) %>",
"defaultPermission": true
}
        
        
        
//放到 Web目录  \App_Start\Navigation 目录，SpaNavigationProvider.cs 

.AddItem(new MenuItemDefinition(
        PageNames.App.<%=PermissionModuleName %>.<%=EntityName %>,
        new FixedLocalizableString("<%=AssemblyFileHelper.GetClassSummary(assType) %>"),
        url: "/<%=VueSpaWebPagePath %>/<%=names.VueWebPageName %>",
        icon: "icon-nutrients-management",
        requiredPermissionName: <%=names.AppServicePermissionPrefix %>
    )
)



//放到前端  routers.js

{

	path: '/<%=VueSpaWebPagePath %>/<%=names.VueWebPageName %>',
	name: "<%=names.VueWebPageName %>",
	meta: {
		title: "<%=AssemblyFileHelper.GetClassSummary(assType) %>"
	},
	component: resolve => require(['../views/<%=VueSpaWebPagePath %>/<%=names.VueWebPageName %>.vue'], function (component) {
		resolve(modules.createQueryVueModule(component));
	})
}, 