<%@ Template Language="C#" TargetLanguage="C#" Src="../../CommonCode.cs" Inherits="CodeSmithTemplate.CommonCode" Encoding="utf-8" %>
<%@ Register Template="Helper/AssemblyFileProperty.cst" Name="AssemblyFileProperty" MergeProperties="True" %>  
<%@ Register Template="Helper/GenerateLayerProperty.cst" Name="GenerateLayerProperty" MergeProperties="True" %> 
<%@ Register Template="Helper/GenerateConfigProperty.cst" Name="GenerateConfigProperty" MergeProperties="True" %> 
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Linq" %>
<%@ Assembly Src="../../ClassNames.cs" %>
<%@ Assembly Src="blqw.CSComment/CSComment.cs" %>
<%@ Import Namespace="blqw.Reflection" %>
<%@ Assembly Src="AssemblyFileHelper.cs" %>
<%@ Import Namespace="CodeSmithTemplate" %>
<%@ Import Namespace="CodeSmithTemplate.AspNet.AssemblyFile" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.IO" %>
<%
// 设定输出文件的顶级根目录
if (!Directory.Exists(OutputDirectory)) Directory.CreateDirectory(OutputDirectory);

ClassNames names = GetAssemblyFileNames(DllFolder, ProjectName, EntityName, PermissionModuleName,VueSpaWebPageName);
Type assType = GetAssemblyType(names.CoreDllFile, EntityName);
{
    var currClassTemplateName = "Abp.Application";
    var currClasslibraryName = ProjectName + ".Application";
    var root_directory = OutputDirectory + "\\" + currClasslibraryName + "\\";
    var directory = root_directory + assType.Namespace.Replace(ProjectName,"").Replace(".","\\");
    
    RenderToFile(AppIAsyncService, currClassTemplateName + "\\IAsyncAppService.cst", directory, "I" + names.AppServiceName);
    RenderToFile(AppAsyncService, currClassTemplateName + "\\AsyncAppService.cst", directory, names.AppServiceName);
}
{
    var currClassTemplateName = "Abp.Application\\Dto";
    var currClasslibraryName = ProjectName + ".Application";
    var root_directory = OutputDirectory + "\\" + currClasslibraryName + "\\";
    var directory = root_directory + assType.Namespace.Replace(ProjectName,"").Replace(".","\\")+"\\Dto\\";
    
    RenderToFile(AppGetAllDto, currClassTemplateName + "\\GetAllInput.cst", directory, names.GetAllInputName);
    RenderToFile(AppQueryDto, currClassTemplateName + "\\QueryDto.cst", directory, names.QueryDtoName);
    RenderToFile(AppDto, currClassTemplateName + "\\Dto.cst", directory, names.DtoName);
}
{
    var currClassTemplateName = "Abp.VueSpaWeb";
    var directory = OutputDirectory + "\\";    
    RenderToFile(VueSpaWeb, currClassTemplateName + "\\Index.cst", directory,  names.VueWebPageName + ".vue");
}
{
    var currClassTemplateName = "Abp.VueSpaWeb";
    RenderOtherTemplate(BuildMenu, currClassTemplateName + "\\BuildMenu.cst");
}
//指定使用资源管理器打开文件夹
//System.Diagnostics.Process.Start("Explorer.exe", OutputDirectory);
//System.AppDomain.Unload(System.AppDomain.CurrentDomain);
%>