<%@ Template Language="C#" TargetLanguage="C#" Src="../../../Helper/CommonCode.cs" Inherits="CodeSmithTemplate.CommonCode" Encoding="utf-8" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="01.操作表" Description="生成代码所设计的数据表" %>
<%@ Property Name="IsUserCache" Type="System.Boolean" Category="03.生成配置" Description="服务是否使用缓存" Default="true" %>
<%--<%@ Register Template="../Helper/MethodProperty.cst" Name="MenthodProperty" MergeProperties="True" %> --%> 

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>

<%
var pk = GetPKName(SourceTable);
var pktype = GetPKCSharpType(SourceTable);
var dbName = SourceTable.Database.Name;
%>
using Abp.Application.Services;
using Abp.Application.Services.Dto;
using Boss.Application.Dtos;
using Boss.Domain.Entities;
using System.Threading.Tasks;

namespace Boss.Application
{
    /// <summary>
    /// <%=dbName %> 库 <%=GetTableDescription(SourceTable) %>  服务契约
    /// </summary>
    public partial interface I<%=SourceTable.Name %>AppService : <%
    if(IsUserCache){
    %>ICacheCrudAsyncAppService<<%=SourceTable.Name %><%
    }else{
    %>IBossCrudAsyncAppService<<%=SourceTable.Name %><% 
    }
    %>, <%=SourceTable.Name %>QueryDto, <%=pktype %>, <%=SourceTable.Name %>GetAllInput, <%=SourceTable.Name %>CreateInput, <%=SourceTable.Name %>UpdateInput, <%=SourceTable.Name %>GetInput, <%=SourceTable.Name %>DeleteInput>, IApplicationService
    {
        /// <summary>
        /// 后台列表页
        /// </summary>
        /// <param name="input"></param>
        /// <returns></returns>
        Task<<%=SourceTable.Name %>IndexOutput> Index(<%=SourceTable.Name %>IndexInput input);
    }
}
