<%@ Template Language="C#" TargetLanguage="C#" Src="../../../../CommonCode.cs" Inherits="CodeSmithTemplate.CommonCode" Encoding="utf-8" %>
<%@ Register Template="../../Helper/AssemblyFileProperty.cst" Name="AssemblyFileProperty" MergeProperties="True" %>  
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Linq" %>
<%@ Assembly Src="../../../../ClassNames.cs" %>
<%@ Assembly Src="../../blqw.CSComment/CSComment.cs" %>
<%@ Import Namespace="blqw.Reflection" %>
<%@ Assembly Src="../../AssemblyFileHelper.cs" %>
<%@ Import Namespace="CodeSmithTemplate" %>
<%@ Import Namespace="CodeSmithTemplate.AspNet.AssemblyFile" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Reflection" %>
<%
var names = GetAssemblyFileNames(DllFolder, ProjectName, EntityName, PermissionModuleName);
var assType = AssemblyFileHelper.GetAssemblyType(names.CoreDllFile, EntityName);
%>
using System;
using System.ComponentModel.DataAnnotations;
using Abp.Application.Services.Dto;
using Abp.AutoMapper;

namespace <%=assType.Namespace %>.Dto
{
    /// <summary>
    /// <%=AssemblyFileHelper.GetClassSummary(assType) %>   新增 输入参数
    /// </summary>
    public class <%=names.CreateInputName %> : <%=names.DtoName %>
    {
        /// <summary>
        /// 构造函数 设置默认值
        /// </summary>
        public <%=names.CreateInputName %>()
        {
        }
    }    
}
